.promotionsWrapper {
  margin-top: 4rem;
  margin-right: 10rem;
  margin-left: 10rem;
  padding-bottom: 4rem;
}
.promoCarousel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
